<article class="acc-story-kit__event">
    <header class="acc-story-kit__header">
        {{#if data.clock}}
            <span class="acc-story-kit__clock" data-tooltip="{{data.clock}}">
                <i class="acc-icon --xs {{lookup constants.clockIcons data.clock}}"></i>
            </span>
        {{/if}}
        <span>{{data.label}}</span>
    </header>
    <ul class="acc-story-kit__event__list">
        <li>{{data.event1}}</li>
        <li>{{data.event2}}</li>
        <li>{{data.event3}}</li>
    </ul>
</article>
