<div class="acc-property-group">
    {{#each properties as |prop|}}
        <label class="acc-property">
            <span>{{prop.label}}</span>
            {{#if (eq prop.type 'string')}}
                {{#if prop.options.style}}
                    {{#if (eq prop.options.style 'textarea')}}
                        <textarea name="{{accConcat 'object.' path}}">{{~lookup @root.object prop.path}}</textarea>
                    {{/if}}

                    {{#if (eq prop.options.style 'html')}}
                    {{/if}}
                {{else}}
                    <input type="text" name="{{accConcat 'object.' path}}" value="{{~lookup @root.object prop.path}}">
                {{/if}}
            {{/if}}
        </label>
    {{/each}}
</div>
