<section class="tab kits {{tab.cssClass}}" data-tab="kits" data-group="primary">
    <div class="acc-browser">
        <div class="acc-browser__controls">

            <div class="acc-tag__group">
                {{#each browser.tones as |tag|}}
                    <div class="acc-tag__filter {{#if (accContains ../browser.selected tag)}}active{{/if}}"
                         data-tag="{{tag}}">
                        {{accHumanize tag}}
                    </div>
                {{/each}}
            </div>

            <div class="acc-browser__toolbar">
                <label class="acc-browser__toolbar__search">
                    <input type="text" placeholder="..."/>
                </label>
            </div>
        </div>

        <ul class="acc-browser__content">
            {{#each kits as |kit|}}
                <li class="acc-browser__entry --basic" data-index="{{@index}}">
                    <div class="controls">
                        <div class="icon">
                            {{accDocumentAnchor kit size='xs'}}
                        </div>
                        <div class="icon">
                            <a data-action="viewStoryKit" data-id="{{kit.id}}">
                                <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                            </a>
                        </div>
                        {{#if kit.isOwner}}
                            <div class="icon">
                                <a data-action="editStoryKit" data-id="{{kit.id}}">
                                    <i class="acc-icon --xs {{accIconClass 'edit'}}"></i>
                                </a>
                            </div>
                        {{/if}}
                    </div>

                    <div class="header">
						<span class="name">
                            {{kit.name}}
                        </span>
                        <div class="acc-tag__group">
                            {{#each kit.system.tags as |tag|}}
                                <div class="acc-tag">{{tag}}</div>
                            {{/each}}
                        </div>
                    </div>
                </li>

            {{/each}}
        </ul>
    </div>
</section>
    
