<section class="tab kits {{tab.cssClass}}" data-tab="kits" data-group="primary">
    <div class="acc-browser">
        <div class="acc-browser__controls">

            <div class="acc-toolbar --stretch">
                <div class="acc-toolbar__row">
                    {{accTagPicker 'Tone' browser.tones browser.selected}}
                    {{accTagPicker 'Setting' browser.themes browser.selected}}
                    {{accTagPicker 'Theme' browser.settings browser.selected}}
                    <label class="acc-toolbar__search" style="margin-left: 8px;">
                        <input type="text" placeholder="..."/>
                    </label>
                </div>
            </div>
        </div>

        <ul class="acc-browser__content acc-list">
            {{#each kits as |kit|}}
                <li class="acc-list__entry --basic" data-index="{{@index}}">
                    <div class="acc-list__entry__controls">
                        <div class="acc-list__entry__icon">
                            {{accDocumentAnchor kit size='xs'}}
                        </div>
                        <div class="acc-list__entry__icon">
                            <a data-action="viewStoryKit" data-id="{{kit.id}}">
                                <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                            </a>
                        </div>
                        {{#if kit.isOwner}}
                            <div class="acc-list__entry__icon">
                                <a data-action="editStoryKit" data-id="{{kit.id}}">
                                    <i class="acc-icon --xs {{accIconClass 'edit'}}"></i>
                                </a>
                            </div>
                        {{/if}}
                        <div class="acc-list__entry__icon">
                            <a data-action="pinObject" data-id="{{kit.id}}" data-type="kit">
                                <i class="acc-icon --xs {{#unless
                                        (lookup @root.pinned kit.id)}}muted{{/unless}} {{accIconClass 'pin'}}"></i>
                            </a>
                        </div>
                    </div>

                    <div class="acc-list__entry__header">
						<span class="acc-list__entry__name">
                            {{kit.name}}
                        </span>
                        <div class="acc-tag__group">
                            {{#each kit.system.tags as |tag|}}
                                <div class="acc-tag">{{tag}}</div>
                            {{/each}}
                        </div>
                    </div>
                </li>

            {{/each}}
        </ul>
    </div>
</section>
    
