<section class="tab overview {{tab.cssClass}}" data-tab="overview" data-group="primary">

    <div class="content {{#if events}}multiColumn{{/if}}">
        <div class="pins acc-board --borderless">
            <div class="acc-board__header" style="margin-bottom: 1rem;">
                <span class="acc-board__banner" data-tooltip="Pins">
                    <i class="acc-icon --s {{accIconClass 'pin'}}">
                    </i>
                </span>
            </div>
            <div class="acc-grid" style="--acc-grid-col-size: var(--acc-card-size-m)">
                {{#each pinned as |pin|}}
                    <div class="acc-card --m {{pin.cssClass}}">
                        {{#if (eq pin.type 'kit')}}
                            <div class="acc-card__header">
                                {{pin.object.name}}
                                <i class="acc-icon --xs {{accIconClass pin.type}}"></i>
                            </div>
                            <div class="acc-card__body">
                            <span>
                                {{pin.preview}}
                            </span>
                            </div>
                            <div class="acc-card__footer">
                                <button class="acc-card__button" data-action="expandObject" data-id="{{pin.id}}"
                                        data-type="kit">
                                    <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                                </button>
                            </div>
                        {{/if}}

                        {{#if (eq pin.type 'note')}}
                            <div class="acc-card__header">
                                <i class="acc-icon --xs {{accIconClass pin.type}}"></i>
                            </div>
                            <div class="acc-card__body">
                            <span>
                                {{pin.preview}}
                            </span>
                            </div>
                        {{/if}}

                    </div>
                {{/each}}
            </div>
        </div>

        {{#if events}}
            <div class="events acc-board --borderless">
                <div class="acc-board__header">
                    <span class="acc-board__banner" data-tooltip="Events">
                        <i class="acc-icon --s {{accIconClass 'events'}}">
                        </i>
                    </span>
                </div>
                <ul class="acc-list">
                    {{#each events.pending as |event|}}
                        <li class="acc-list__entry --compact" data-index="{{@index}}">
                            <div class="acc-list__entry__controls">
                                <div class="acc-list__entry__icon">
                                    <a data-action="expandObject" data-id="{{event.id}}" data-type="event"
                                       data-index="{{@index}}">
                                        <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="acc-list__entry__header">
						<span class="acc-list__entry__name">
                            {{event.title}}
                        </span>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>

</section>
    
