<section class="tab overview {{tab.cssClass}}" data-tab="overview" data-group="primary">

    <div class="content">
        <div class="pins">
            {{#each pinned as |pin|}}
                <div class="acc-card --m">
                    {{#if (eq pin.type 'kit')}}
                        <div class="acc-card__header">
                            <i class="acc-icon --xs {{accIconClass pin.type}}"></i>
                            {{pin.object.name}}
                        </div>
                        <div class="acc-card__body">
                            <span>
                                {{pin.preview}}
                            </span>
                        </div>
                        <div class="acc-card__footer">
                            <button class="acc-card__button" data-action="viewStoryKit" data-id="{{pin.id}}">
                                <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                            </button>
                        </div>
                    {{/if}}

                    {{#if (eq pin.type 'note')}}
                        <div class="acc-card__header">
                            <i class="acc-icon --xs {{accIconClass pin.type}}"></i>
                        </div>
                        <div class="acc-card__body">
                            <span>
                                {{pin.preview}}
                            </span>
                        </div>
                    {{/if}}

                </div>
            {{/each}}
        </div>
    </div>

</section>
    
