<section class="tab planner {{tab.cssClass}}" data-tab="planner" data-group="primary">

    <div class="content">
        <div class="notes acc-board">
            <div class="acc-board__header">
                <span class="acc-board__title">Notes</span>
            </div>

            <div class="acc-toolbar">
                <div class="acc-toolbar__row__flat">
                    <label class="acc-toolbar__search">
                        <input type="text" placeholder="..."/>
                    </label>
                    <button class="acc-button" data-action="addObject" data-type="note">
                        <i class="acc-icon --s {{accIconClass 'add'}}"></i>
                    </button>
                </div>
            </div>

            <div class="acc-board__list">
                {{#each data.notes as |note|}}
                    <div class="acc-card --note">
                        <div class="acc-card__header">
                            <button class="acc-button" data-action="editObject" data-index="{{@index}}"
                                    data-type="note">
                                <i class="acc-icon --xs {{accIconClass 'edit'}}"></i>
                            </button>
                            <button class="acc-button" data-action="pinObject" data-type="note" data-id="{{note.id}}"
                                    data-index="{{@index}}">
                                <i class="acc-icon --xs {{#unless
                                        (lookup @root.pinned note.id)}}muted{{/unless}} {{accIconClass 'pin'}}"></i>
                            </button>
                            <button class="acc-button" data-action="removeObject" data-index="{{@index}}"
                                    data-type="note">
                                <i class="acc-icon --xs {{accIconClass 'remove'}}"></i>
                            </button>
                        </div>
                        <div class="acc-card__body">
                            {{note.text}}
                        </div>
                    </div>

                {{/each}}
            </div>
        </div>

        <div class="events acc-list__container">

            <div class="acc-list__container__header">
                <span class="acc-list__container__header__title">Events</span>
                <div>
                    <button class="acc-button" data-action="addObject" data-type="event">
                        <i class="acc-icon --s {{accIconClass 'add'}}"></i>
                    </button>
                </div>
            </div>

            <div class="acc-list__container__body">
                <ul class="acc-board__list acc-list">
                    {{#each data.events as |event|}}
                        <li class="acc-list__entry --basic" data-index="{{@index}}">
                            <div class="acc-list__entry__controls">
                                <div class="acc-list__entry__icon">
                                    <a data-action="viewEvent" data-id="{{event.id}}">
                                        <i class="acc-icon --xs {{accIconClass 'popout'}}"></i>
                                    </a>
                                </div>
                                <div class="acc-list__entry__icon">
                                    <a data-action="editObject" data-id="{{event.id}}" data-type="event"
                                       data-index="{{@index}}">
                                        <i class="acc-icon --xs {{accIconClass 'edit'}}"></i>
                                    </a>
                                </div>
                                <div class="acc-list__entry__icon">
                                    <a data-action="removeObject" data-id="{{event.id}}" data-type="event"
                                       data-index="{{@index}}">
                                        <i class="acc-icon --xs {{accIconClass 'remove'}}"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="acc-list__entry__header">
						<span class="acc-list__entry__name">
                            {{event.title}}
                        </span>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
</section>
