<div>

    <!-- Title banner -->
    <header class="acc-story-kit__titlebar">
        <div class="title">
            <h1>{{name}}</h1>
            <div class="acc-tag__group">
                {{#each system.tags as |tag|}}
                    <div class="acc-tag">{{tag}}</div>
                {{/each}}
            </div>
        </div>

        <section class="hooks">
            <div class="hook">{{system.hook1}}</div>
            <div class="hook">{{system.hook2}}</div>
            <div class="hook">{{system.hook3}}</div>
        </section>

        <!-- Intro callout -->
        <section class="intro">
            <p>
                {{{enrichedIntroduction}}}
            </p>
        </section>
    </header>


    <!-- PRESSURE POOLS (3 cards with dice + connectors) -->
    <section class="acc-story-kit__events">
        {{> "modules/azure-campaign-compendia/templates/partials/pressure-pool-view.hbs" data=system.prelude}}

        {{> "modules/azure-campaign-compendia/templates/partials/pressure-pool-view.hbs" data=system.escalation}}

        {{> "modules/azure-campaign-compendia/templates/partials/pressure-pool-view.hbs" data=system.climax}}
    </section>

    <!-- THREADS -->
    <section class="acc-story-kit__panel">
        <div class="acc-story-kit__panel__head">THREADS</div>
        <div class="acc-story-kit__panel__grid">
            {{> "modules/azure-campaign-compendia/templates/partials/thread-view.hbs" data=system.thread1}}
            {{> "modules/azure-campaign-compendia/templates/partials/thread-view.hbs" data=system.thread2}}
            {{> "modules/azure-campaign-compendia/templates/partials/thread-view.hbs" data=system.thread3}}
        </div>
    </section>

    <!-- SETUP -->
    <section class="acc-story-kit__panel">
        <div class="acc-story-kit__panel__head">SETUP</div>
        <div class="acc-story-kit__panel__grid">
            {{> "modules/azure-campaign-compendia/templates/partials/setup-view.hbs" data=system.setup1}}
            {{> "modules/azure-campaign-compendia/templates/partials/setup-view.hbs" data=system.setup2}}
            {{> "modules/azure-campaign-compendia/templates/partials/setup-view.hbs" data=system.setup3}}
        </div>
    </section>

    <!-- CHALLENGES -->
    <section class="acc-story-kit__challenges">
        {{> "modules/azure-campaign-compendia/templates/partials/challenge-view.hbs" data=system.challenge1}}
        {{> "modules/azure-campaign-compendia/templates/partials/challenge-view.hbs" data=system.challenge2}}
        {{> "modules/azure-campaign-compendia/templates/partials/challenge-view.hbs" data=system.challenge3}}
        {{#if system.challenge4.valid}}
            {{> "modules/azure-campaign-compendia/templates/partials/challenge-view.hbs" data=system.challenge4}}
        {{/if}}
    </section>

    <!-- Mix it up bar -->
    <section class="acc-story-kit__twist">
        <div class="acc-story-kit__twist__label">TWIST</div>
        <div class="acc-story-kit__twist__text">{{system.twist}}</div>
    </section>

    <!-- Footer -->
    <footer class="acc-story-kit__footer">
        <div class="acc-story-kit__page"></div>
        <div class="acc-story-kit__chapter">{{system.author}}</div>
    </footer>
</div>
